body {
  margin: 0;
  --theme-color: lightgray;
  --selected-color:white;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: "Montserrat";
  font-weight: 300;
  cursor: default;
}

/* Header */
#header {
  height: 80px;
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: fixed;
  transition-duration: 0.5s;
  transition-property: background, box-shadow;
}

.shadow {
  box-shadow: 0px 4px 15px black;
}

#inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#brand h2 {
  color: white;
  cursor: default;
  font-size: 1.8rem;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  color: white;
  margin: 0 10px;
  list-style: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 1.13rem;
  padding: 8px 10px;
  transition-property: border, color;
  transition-duration: 0.3s;
  border-bottom: solid 2px transparent;
}

nav > ul > li > a:hover {
  /* color: ; */
  border-bottom: 2px solid var(--theme-color);
}

.current {
  color: var(--selected-color);
  border-bottom: solid 2px var(--theme-color);
}

.current:hover {
  border-bottom: solid 2px var(--theme-color) ;
}

/* Showcase */
#showcase {
  background: url(../images/pic1.jpg) no-repeat 0px 0px / cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}

#showcase2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

#showcase-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#showcase-text h1 {
  color: white;
  font-size: 4rem;
  margin: 0;
}

#showcase-text p {
  color: white;
  font-size: 1.4rem;
}

/* About */
#about {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

#about-me-text {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  background: black;
  color: white;
}

#about-me-wrap {
  width: 90%;
  margin-left: 40px;
}

#about-me-text h2 {
  font-size: 2.3rem;
}

#about-me-text p {
  font-size: 1.1rem;
}

#about-me-image {
  background: url(../images/pic2.jpg) no-repeat center center/cover;
  height: 100%;
  width: 50%;
}

/* What i do */
#what-i-do {
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#what-i-do h2 {
  font-size: 3.2rem;
  margin: 0;
}

#what-i-do p {
  font-size: 2rem;
  margin: 10px 0 50px;
}

#what-i-do h3 {
  margin: 0;
  cursor: pointer;
}

#what-i-do a {
  text-decoration: none;
  color: white;
  background: black;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 0.8rem;
  transition: color, background 0.3s;
}

#what-i-do a:hover {
  color: black;
  background: lightgray;
}

/* Contact */
#contact {
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  font-size: 3.2rem;
  margin-top: 20px;
}

#contact > a > h3 {
  margin: 0;
  cursor: pointer;
}

#contact a {
  text-decoration: none;
  color: white;
  background: black;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 0.8rem;
  transition: color, background 0.3s;
}

#contact a:hover {
  color: black;
  background: lightgray;
}

/* Footer */
#footer {
  height: 80px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#footer p {
  color: white;
}

/* SERVICES */
#services2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
#header-services {
  background: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Body */
#body-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: url(../images/pic5.jpg) no-repeat 0 0 / cover;
}

#body-services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

/* Main */
#services-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#services-services h1 {
  font-size: 3.2rem;
  margin: 0 0 50px;
  color: white;
}

#boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-box {
  width: 20%;
  background: transparent;
  border-radius: 10px;
  color: white;
}

.services-box h2 {
  font-size: 1.6rem;
  font-weight: 300;
}

.services-box p {
  font-weight: 300;
}

.services-box:nth-child(even) {
  margin: 0 30px;
}

.ibox i {
  color: white;
}

#services-footer {
  background: black;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTACT */
#contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact-form h2 {
  color: white;
  font-size: 3.2rem;
  margin: 0px 20px 20px;
}

.input-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 5px 0;
}

.input-form label {
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat";
  margin-bottom: 3px;
}

.input-form input {
  width: 400px;
  line-height: 25px;
  border-radius: 5px;
  border: 0px solid;
}

.input-form textarea {
  width: 400px;
  height: 50px;
  border-radius: 5px;
}

form > input {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  background: black;
  width: 80px;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 0.8rem;
  transition-property: color, background;
  transition-duration: 0.3s;
  border: 0px solid;
  cursor: pointer;
}

form > input:hover {
  color: black;
  background: lightgray;
}

.show {
  visibility: hidden;
  opacity: 0;
  transition-duration: 1.5s;
  transition-property: visibility, opacity;
}

.show0 {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}
